.follow-up-list {
    display: flex;
    flex: 1 1 0;
    flex-flow: column nowrap;
    padding: 12px;
}

    .follow-up-list-item {
        border: 1px solid #E4E4E4;
        border-radius: 6px;
        flex: 1 1 0;
        margin: 0 0 12px 0;
        padding: 12px;
        position: relative;
        text-decoration: none;
    }

    .follow-up-list-item-title {
        font-weight: bold;
        margin: 0 0 12px 0;
    }

    .follow-up-list-item-description {
        margin: 0;
    }

    .follow-up-list-item-icon {
        background-color: #E4E4E4;
        border: solid 2px #ffffff;
        border-radius: 50%;
        height: 24px;
        position: absolute;
        right: 12px;
        top: 12px;
        width: 24px;
        z-index: 1;
    }

        .follow-up-list-item-icon.new {
            background-color: #99CC33;
        }