/*$primary-color: #C50B34;*/
/*$secondary-color: #EF7F01;*/

* {
    box-sizing: border-box;
    color: #424242;
    font-family: 'Quicksand', sans-serif;
    line-height: 24px;
    font-size: 16px;
}

body {
    background-color: #FCFCFC;
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    overflow: auto;
}

.header {
    position: relative;
    display: flex;
    height: 80px;
    margin-bottom: 6px;
    width: 100%;
}

    .header > a {
        margin: auto;
        text-decoration: none;
    }

    .header > a > img {
        border: none;
    }

    .header:after {
        content: " ";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -7px;
        height: 6px;
        background: #C50B34;
        background: -webkit-linear-gradient(top,#c50b34,#ef7f01);
        background: -o-linear-gradient(top,#c50b34,#ef7f01);
        background: -moz-linear-gradient(top,#c50b34,#ef7f01);
        background: linear-gradient(to bottom, #c50b34, #ef7f01);
    }

.hidden {
    display: none !important;
}

p {
    margin: 0 0 24px 0;
}

.form {
    display: flex;
    flex-direction: column;
}

    .form > p {
        display: flex;
        flex-direction: column;
        margin: 0 0 20px 0;
        padding: 0 10px;
    }

        .form > p > label {
            line-height: 30px;
            padding: 5px 0;
        }

        .form > p > input,
        .form > p > select,
        .form > p > textarea {
            background-color: #ffffff;
            border: none;
            border-radius: 4px;
            box-shadow:  0 1px 5px rgba(0, 0, 0, 0.5);
            line-height: 30px;
            padding: 5px 10px;
        }

        .form > p > button[type="submit"] {
            border: none;
            border-radius: 4px;
            background-color: #01aaef;
            color: white;
            font-weight: bold;
            line-height: 30px;
            padding: 5px 10px;
        }

.tab-list {
    display: flex;
    flex: 1 1 0;
    flex-flow: row nowrap;
}

    .tab-list-item {
        border: none;
        background-color: #E4E4E4;
        color: #ef7f01;
        flex: 1 1 0;
        font-weight: bold;
        line-height: 24px;
        padding: 12px 0;
    }

    .tab-list-item.active {
        background-color: #FCFCFC;
        color: #C50B34;
    }

.main {
    position: relative;
}

.alert {
    border: none;
    border-radius: 12px;
    background-color: #E4E4E4;
    display: flex;
    /*flex: 1 1 0;*/
    /*flex-flow: row nowrap;*/
    padding: 12px;
    margin: 0 0 24px 0;
}

    .alert-icon {
        height: 64px;
        margin-right: 12px;
        width: 64px;
    }

    .alert-content {
        display: flex;
        flex-flow: column nowrap;
    }

        .alert p {
            margin: 0;
        }

        .alert-title {
            font-weight: bold;
            margin: 0;
        }

        .alert.success {
            background-color: #99CC33;
            color: #ffffff;
        }

            .alert.success p {
                color: #ffffff;
            }

.button {
    background-color: #ef7f01;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    display: inline;
    font-weight: bold;
    line-height: 24px;
    padding: 12px 24px;
    margin: 0 auto 24px auto;
    text-decoration: none;
}

    .button.floating {
        bottom: 24px;
        display: block;
        position: fixed;
        margin-bottom: 0;
        right: 24px;
    }