.login-form {
    display: flex;
    flex-direction: column;
}

    .login-form > p {
        display: flex;
        flex-direction: column;
        margin: 0 0 20px 0;
        padding: 0 10px;
    }

        .login-form > p > label {
            line-height: 30px;
            padding: 5px 0;
        }

        .login-form > p > input {
            border: none;
            border-radius: 4px;
            box-shadow:  0 1px 5px rgba(0, 0, 0, 0.5);
            line-height: 30px;
            padding: 5px 10px;
        }

        .login-form > p > button[type="submit"] {
            border: none;
            border-radius: 4px;
            background-color: #01aaef;
            color: white;
            font-weight: bold;
            line-height: 30px;
            padding: 5px 10px;
        }

        #loading{
            display:    none;
            position:   fixed;
            z-index:    1000;
            top:        0;
            left:       0;
            height:     100%;
            width:      100%;
            background: rgba( 255, 255, 255, .8 )
            url('http://sampsonresume.com/labs/pIkfp.gif')
            50% 50%
            no-repeat;

        }